* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Forms */
form > h2 {
  text-align: center;
}

form > div.container {
  width: 30%;
}

form > div.container-btn {
  text-align: center;
  margin: 5px;
}

div.btn-row {
  display: flex;
  justify-content: center;
}

/* End of Forms */